<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

  <%=form_for(@user, url: signup_path) do |f|  %>
    <%= render 'shared/error_messages' %>
  <%= f.label :name ,"Your Name"%>
  <%= f.text_field :name, class: 'form-control'%>

  <%=f.label :email, "Your Email"%>
  <%=f.email_field :email, class: 'form-control'  %>

  <%= f.label :password , "Your password"%>
  <%= f.password_field :password, class: 'form-control'%>

  <%= f.label :password_confirmation, "Password Confirmation"%>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit "Create My Account", class:"btn btn-primary"%>
  <%end%>
 </div>
