<% provide(:title, @user.name) %>
      <h1>
        <%= @user.name %>
      </h1>

<% if @user.attendances.any? %>
  <h3>I am invited to(<%= @user.attendances.count %>)</h3>
  <ul class="attendances">
    <%= render  @user_attendance %>
  </ul>
<% end %>

<h3>All upcoming Events(<%= @events_created_future.count %>) created by <%=@user.name%></h3>
<ul class="attendances">
  <%= render @events_created_future %>
</ul>

<h3>All Past Events(<%= @events_created_past.count %>) created by <%=@user.name%></h3>
<ul class="attendances">
  <%= render@events_created_past %>
</ul>