<% provide(:title, @user.name) %>
      <h1>
        <%= @user.name %>
      </h1>

 <% if @user.events.any? %>
  <h3>Events created(<%= @user.events.count %>)</h3>
  <ol class="events">
    <%= render @events %>
  </ol>
<% end %>
 <% if @user.attendances.any? %>
  <h3>I am going to(<%= @user.attendances.count %>)</h3>
  <ol class="attendances">
    <%= render  @user_attendance %>
  </ol>
<% end %>
<h3>upcoming Events(<%= @events_created_future.count %>)</h3>
  <ol class="attendances">
    <%= render  @user_attendance %>
  </ol>