<h1>Edit Event</h1>

  <%=form_for(@event, url: edit_event_path) do |f|  %>
    <%= render 'shared/error_messages_events' %>
  <%= f.label :title ,"Title"%>
  <%= f.text_field :title, class: 'form-control'%>

  <%=f.label :description, "Description"%>
  <%=f.text_area :description, class: 'form-control'  %>

  <%=f.label :guests, "Guests"%>
  <%= f.collection_select(:guests, User.all , :id, :name, {:selected => @event.guests.map(&:id), include_blank: false }, { multiple: true }) %> 

  <%= f.submit "Update Event", class:"btn btn-primary"%>
  <%end%>
</div>