<h1>Event</h1>

  <%=form_for(@event, url: new_event_path) do |f|  %>
    <%= render 'shared/error_messages_events' %>
  <%= f.label :title ,"Title"%>
  <%= f.text_field :title, class: 'form-control'%>

  <%=f.label :description, "Description"%>
  <%=f.text_area :description, class: 'form-control'  %>

  <%= f.submit "Create new Event", class:"btn btn-primary"%>
  <%end%>
</div>