<h1>
  <%= "#{@event.title}" %>
</h1>
<% if @event.creator == current_user %>
  <h5><%= link_to "Edit Event",   edit_event_path %></h5>
<% end %>

<% if attending(@event) %>
  You will attend to this Event
<% end %>
<p><%= @event.description %></p>
<p>Creator: <%= eventcreator(@event) %> <p>

<h2>Who is invited?</h2>
<% if @event.guests.any? %>
  <h3>(<%= @event.guests.count %>) people</h3>
  <%= render @attendees%>
<% end %>
