 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "EvEnT APP", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%# <%= link_to "Help",   '#' %></li>
                    <% if logged_in? %>
          <li><%= "Hello put name here!" %></li>
          <li><%= link_to "Logout", logout_path %></li>
           <% else %>
            <li><%= link_to "Log in", login_path %></li>
             <% end %>
          </ul>
        </nav>
      </div>
    </header>