 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "EvEnT APP", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Hello, #{current_user.name}",  current_user %></li>
          <li><%= link_to 'See all Events',  events_path %></li>
          <li><%= link_to 'Create an Event',  new_event_path %></li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Log in", login_path %>
            
          </li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>